body {
    background-color: lightblue;
}
//////////////////// available view/////////////////////
.available-box {
    background-color: white;
    width: 100%;
    // height: 90vh;
    display: flex;
    justify-content: center;
}
.form-group {
    align-self: center;
    background-color: lightpink;
    // text-align: center;
    width: 100vw;
    .custom-select {
        display: block;
    }
    .name-input {
        display: inline-block;
        margin: 1%;
        width: 25%;
    }
    .shift-box {
        align-self: center;
        display: inline-block;
        background-color: lightgreen;
        padding: 1%;
        // margin: 1%;
    }
}
.edit-available-box{
  margin: 2%;
}
//////////////////// schedule view//////////////////////
.rickshaw {
  height: 100vh;
  margin-bottom: 5%;
}
.pedicab{
  height: 100vh;
  margin-bottom: 5%;
}
.calender-box {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .day-box {
        // background-color: lightgreen;
        width: 13%;
        height: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        .one-shift {
            background-color: lightpink;
            width: 100%;
            height: 25%;
            margin: auto;
            overflow: scroll;
        }
        .two-shift {
            background-color: lightpink;
            width: 100%;
            height: 25%;
            margin: auto;
            overflow: scroll;
        }
        .three-shift {
            background-color: lightpink;
            width: 100%;
            height: 25%;
            margin: auto;
            overflow: scroll;
        }
        .two-shift-weekend {
            background-color: lightpink;
            width: 100%;
            height: 55%;
            margin: auto;
            overflow: scroll;
        }
    }
}
