body {
  background-color: lightblue; }

.available-box {
  background-color: white;
  width: 100vw; }
  .available-box .shift-box {
    background-color: lightgreen;
    display: inline-block; }

.signup {
  display: inline-block;
  width: 50vw; }
  .signup ul {
    margin: auto;
    width: 75%; }

.pedicab-signup {
  float: right; }

.rickshaw {
  height: 100vh;
  margin-bottom: 5%; }

.pedicab {
  height: 100vh;
  margin-bottom: 5%; }

.calender-box {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .calender-box .day-box {
    background-color: lightgreen;
    width: 14%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto; }
    .calender-box .day-box .one-shift {
      background-color: lightpink;
      width: 100%;
      height: 25%;
      margin: auto;
      overflow: scroll; }
    .calender-box .day-box .two-shift {
      background-color: lightpink;
      width: 100%;
      height: 55%;
      margin: auto;
      overflow: scroll; }
