<h1>Schedule View</h1>
<div class="calender-box">
    <div class="day-box monday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box tuesday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box wednesday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box thursday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box friday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box saturday">
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>

    </div>
    <div class="day-box sunday">
        <h1>sunday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
    </div>
</div>
