<h1>Schedule View</h1>
<div class="calender-box">
    <div class="day-box monday">
      <h1>Monday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box tuesday">
      <h1>Tuesday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box wednesday">
      <h1>Wednesday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box thursday">
      <h1>Thursday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box friday">
      <h1>Friday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift">
            two shift
        </div>
        <div class="three-shift">
            three shift
        </div>
    </div>
    <div class="day-box saturday">
      <h1>Saturday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class="two-shift two-shift-weekend">
            two shift
        </div>

    </div>
    <div class="day-box sunday">
      <h1>Sunday</h1>
        <div class="one-shift">
            one shift
        </div>
        <div class=" two-shift two-shift-weekend">
            two shift
        </div>
    </div>
</div>
